<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Aug2020POMSeries"/>
<listAttribute key="org.testng.eclipse.SUITE_TEST_LIST">
<listEntry value="F:\Selenium Learning from Naveen\Aug2020POMSeries\src\test\resources\testrunners\testng_Regression.xml"/>
</listAttribute>
<intAttribute key="org.testng.eclipse.TYPE" value="3"/>
</launchConfiguration>
